name: deploy-container

on:
  push:
    branches:
      - master
    paths:
      - 'packages/container/**'

defaults:
  run:
    working-directory: packages/container

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npm run build
      - run: ls -al
      - run: pwd

      #Voer uit sftp naar deploy server
      - name: SSH Server Deploy
        uses: garygrossgarten/github-action-scp@release
        with:
          local: ./package.json
          remote: /mnt/data/tinydeli.nl/httpd.www/container/latest/package.json
          host: ${{ secrets.SSH_SERVER_NAME }}
          username: ${{ secrets.SSH_USER_NAME }}
          password: ${{ secrets.SSH_USER_PASSWORD }}
