name: deploy-container

on:
  push:
    branches:
      - master
    paths:
      - 'packages/container/**'

defaults:
  run:
    working-directory: packages/container

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npm run build
      - run: ls -al

      #Voer uit sftp naar deploy server
      - name: SSH Server Deploy
        uses: kostya-ten/ssh-server-deploy@v4
        with:
          host: ${{ secrets.SSH_SERVER_NAME }}
          port: 22
          username: ${{ secrets.SSH_USER_NAME }}
          password: ${{ secrets.SSH_USER_PASSWORD }}
          scp_source: ./build/
          scp_target: /mnt/data/tinydeli.nl/httpd.www/container/latest
          before_script: |
            df -h
          after_script: |
            whoami
